form {
    p:last-child {
        margin-bottom: 15px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 45px;
        font-size: 32px;
    }

    small { 
        color: red;
        margin-top: -10px;
        display: block;
    }

    .input-field {
        &.upload {
            margin-top: 0;
        }
        input[type="radio"] + label, input[type="checkbox"] + label {
            top: auto;
        }
        > label {
            color: #333;
            position: relative;
            top: auto;
            line-height: 0;
        }
        > p { margin-bottom: 0; }
    }

    .switch {
        margin: 0;
        label:first-of-type {
            color: #333;
            display: block;
            margin-bottom: 15px;
            font-size: 1rem;
            padding-left: 0;
        }
    }

    .btn {
        margin-top: 15px;
    }
}